@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  padding: 0;
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

.menu_titre h2, .container_content p, body {
  font-family: "Roboto", sans-serif;
}

.menu_titre h2 {
  font-family: "Shrikhand", cursive;
}

.container_locate .fa-map-marker-alt {
  position: relative;
  right: 10px;
}

.fonctionnement_button .fa-mobile-alt, .fonctionnement_button .fa-store, .fonctionnement_button .fa-list-ul {
  position: relative;
  right: 20px;
  font-size: 20px;
}

.fonctionnement_button p {
  position: relative;
  right: 0px;
}

.menu_container .menu_entrees_bloc, .restaurantbloc, .fonctionnement_button, .btn {
  box-shadow: 0px 2px 15px -4px rgba(0, 0, 0, 0.65);
}

.btn:hover {
  box-shadow: 0px 3px 15px -4px rgba(0, 0, 0, 0.9);
}

.restaurantbloc img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

body {
  width: 100%;
  height: 100vh;
}

.fade-in {
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}

.container_loader {
  width: 100%;
  height: 100vh;
  background-color: #9356DC;
  margin: 0 auto;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
}
.container_loader .loader {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
@-webkit-keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#header {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.titre {
  margin-bottom: 6%;
  font-size: 1.5em;
  margin-left: 3%;
  margin-top: 3%;
}
@media (min-width: 1200px) {
  .titre {
    margin-right: 3%;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 9%;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
    padding-bottom: 4%;
  }
}
.container_logo {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 2%;
}
.container_logo img {
  width: 180px;
}
.container_locate {
  background-color: #eaeaea;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3%;
  border-top: 2px solid #353535;
}
.container_locate p {
  font-size: 0.8rem;
}
.container_content {
  background-color: #f6f6f6;
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 280px;
}
@media (min-width: 1200px) {
  .container_content {
    padding: 4%;
  }
}
.container_content h2 {
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
}
.container_content p {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  padding-bottom: 8%;
  text-align: center;
  font-weight: 400;
}
@media (min-width: 1200px) {
  .container_content p {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1%;
    padding-bottom: 2%;
  }
}

.btn {
  padding: 15px 30px;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.5s ease-in;
}
.btn--primary {
  color: white;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  transition: all 0.5s ease-in;
}
.btn--primary:hover {
  background: linear-gradient(to top, #a16be0, #ff93e1);
}

.corner--rounded {
  border-radius: 20px;
}

#fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 1200px) {
  #fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 2%;
  }
}

.fonctionnement {
  text-align: left;
  position: relative;
  margin-bottom: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 1200px) {
  .fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 440px;
  }
}
.fonctionnement_button {
  background-color: #f6f6f6;
  width: 90%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: all 0.5s ease-in;
}
.fonctionnement_button:hover {
  background-color: #ece1f9;
}
.fonctionnement_button:hover .fa-mobile-alt {
  color: #9356DC;
}
.fonctionnement_button:hover .fa-store {
  color: #9356DC;
}
.fonctionnement_button:hover .fa-list-ul {
  color: #9356DC;
}
.fonctionnement_button p {
  font-weight: 600;
}
.fonctionnement_button .fa-mobile-alt, .fonctionnement_button .fa-store, .fonctionnement_button .fa-list-ul {
  color: grey;
  transition: all 0.5s ease-in;
  position: relative;
  right: 10%;
}
.fonctionnement_button a {
  color: grey;
}
.fonctionnement_button .puce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #9356DC;
  color: #fff;
  padding: 3px 7px 3px 7px;
  border-radius: 12px;
  font-size: 13px;
  position: absolute;
  left: 3%;
}

#restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #eaeaea;
  font-weight: 400;
  overflow: hidden;
}
@media (min-width: 1200px) {
  #restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
  }
}
#restaurant .titre {
  align-self: flex-start;
  padding: 2%;
}
@media (min-width: 1200px) {
  #restaurant .titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-bottom: 2%;
  }
}

.restaurantbloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 5%;
  position: relative;
}
@media (min-width: 1200px) {
  .restaurantbloc {
    margin-right: 50px;
    flex-basis: 20%;
    flex-wrap: nowrap;
  }
}
.restaurantbloc a {
  width: 100%;
}
.restaurantbloc_nouveau {
  padding: 8px 30px;
  background-color: #99E2D0;
  position: absolute;
  right: 10px;
  top: 10px;
}
@media (min-width: 1200px) {
  .restaurantbloc_nouveau {
    right: 8%;
    top: 15%;
  }
}
.restaurantbloc img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
}
.restaurantbloc_txt {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-self: flex-start;
  padding-left: 6%;
}
.restaurantbloc_txt h3 {
  position: relative;
}
.restaurantbloc_txt p {
  position: relative;
  font-weight: 300;
}
.restaurantbloc_love {
  font-size: 25px;
  position: absolute;
  right: 7%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.restaurantbloc_love .coeur-vide {
  position: relative;
  left: 25px;
  z-index: 999;
  transition: all 0.5s ease;
  opacity: 1;
  color: grey;
}
.restaurantbloc_love .coeur-vide:hover + .coeur-plein {
  opacity: 1;
}
.restaurantbloc_love .coeur-vide:hover {
  opacity: 0;
}
.restaurantbloc_love .coeur-plein {
  opacity: 0;
  transition: all 1s ease;
}

#footer {
  background-color: #353535;
  padding: 6%;
}
@media (min-width: 1200px) {
  #footer {
    padding: 2%;
    text-align: center;
  }
}
#footer .logo svg {
  fill: white;
  width: 150px;
}
#footer .liens {
  position: relative;
}
#footer .liens li {
  color: white;
  margin-bottom: 10px;
  font-weight: 400;
}

@-webkit-keyframes hidethis {
  to {
    visibility: hidden;
  }
}

@keyframes hidethis {
  to {
    visibility: hidden;
  }
}
#hidethis {
  -webkit-animation: hidethis 0s 3s forwards;
          animation: hidethis 0s 3s forwards;
}

.container_logo--menu {
  background-color: white;
  padding: 1%;
  width: 100%;
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.container_logo--menu .arrow {
  position: relative;
  right: 80px;
}
.container_logo--menu img {
  width: 180px;
}

#menu-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f6f6f6;
}
#menu-4 .background-image {
  background-image: url("/Hauratcarole_3_2808201/images/restaurants/menu4.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
}

#menu-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f6f6f6;
}
#menu-3 .background-image {
  background-image: url("/Hauratcarole_3_2808201/images/restaurants/menu3.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
}

#menu-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f6f6f6;
}
#menu-2 .background-image {
  background-image: url("/Hauratcarole_3_2808201/images/restaurants/menu2.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
}

#menu-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f6f6f6;
}
#menu-1 .background-image {
  background-image: url("/Hauratcarole_3_2808201/images/restaurants/menu1.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
}

.menu_container {
  width: 100%;
  position: relative;
  top: -50px;
  border-radius: 45px;
  background-color: #f6f6f6;
}
.menu_container .menu_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (min-width: 1200px) {
  .menu_container {
    width: 80%;
    box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.25);
  }
}
.menu_container .menu_entrees {
  position: relative;
  padding: 5%;
  top: -40px;
}
@media (min-width: 1200px) {
  .menu_container .menu_entrees {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
  }
}
.menu_container .menu_entrees_titre {
  font-weight: 300;
  padding-bottom: 10%;
}
.menu_container .menu_entrees_titre h3 {
  font-weight: 300;
}
@media (min-width: 1200px) {
  .menu_container .menu_entrees_titre {
    padding-bottom: 2%;
  }
}
.menu_container .menu_entrees_titre::after {
  content: "";
  width: 50px;
  height: 7px;
  border-bottom: 4px solid #99E2D0;
  position: absolute;
}
@media (min-width: 1200px) {
  .menu_container .menu_entrees_titre {
    padding: 2%;
  }
}
.menu_container .menu_entrees_bloc {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 25px;
  flex-basis: 100%;
  margin-bottom: 3%;
  height: 80px;
  padding: 2%;
  position: relative;
}
.menu_container .menu_entrees_bloc_anime {
  color: white;
  font-size: 1.5rem;
  width: 20%;
  height: 100%;
  top: 0;
  position: absolute;
  right: 0px;
  display: block;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  opacity: 0;
  transition: all 0.5s ease-in;
  z-index: 99;
}
@media (min-width: 1200px) {
  .menu_container .menu_entrees_bloc_anime {
    height: 100% !important;
  }
}
@media (min-width: 1800px) {
  .menu_container .menu_entrees_bloc_anime {
    height: 159px !important;
  }
}
.menu_container .menu_entrees_bloc_anime:hover + .menu_entrees_bloc_prix {
  transform: translate(-50px);
  width: 140px;
  padding-left: 10%;
}
@media (min-width: 600px) {
  .menu_container .menu_entrees_bloc_anime:hover + .menu_entrees_bloc_prix {
    transform: translate(-120px);
  }
}
.menu_container .menu_entrees_bloc_anime:hover .icon-check {
  -webkit-animation: rotate 0.7s ease-in;
          animation: rotate 0.7s ease-in;
}
.menu_container .menu_entrees_bloc_anime:hover {
  opacity: 1;
}
@media (min-width: 1200px) {
  .menu_container .menu_entrees_bloc_anime {
    width: 100px;
    height: 123px;
  }
}
.menu_container .menu_entrees_bloc_prix {
  position: relative;
  top: 0px;
  width: 100px;
  height: 100px;
  flex-grow: 2;
  font-weight: bold;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: all 1s ease-in;
}
.menu_container .menu_entrees_bloc_prix:hover + .menu_entrees_bloc_anime {
  opacity: 1;
}
.menu_container .menu_entrees_bloc_texte {
  padding: 4%;
  flex-basis: 100%;
  flex-grow: 1;
  overflow: hidden;
}
.menu_container .menu_entrees_bloc_texte p, .menu_container .menu_entrees_bloc_texte h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu_container .menu_entrees_bloc_texte p {
  font-weight: 300;
}

.menu_titre {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  padding-bottom: 15%;
  padding-top: 10%;
}
@media (min-width: 1200px) {
  .menu_titre {
    padding: 2%;
  }
}
.menu_titre h2 {
  position: relative;
  left: -30px;
  font-size: 1.6rem;
}
@media (min-width: 1200px) {
  .menu_titre h2 {
    font-size: 2rem;
  }
}
.menu_titre .restaurantbloc_love {
  position: relative;
  left: 30px;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animationdelay-1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.animationdelay-2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animationdelay-3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.animationdelay-4 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.animationdelay-5 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.animationdelay-6 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.animationdelay-7 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.animationdelay-8 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.animationdelay-9 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}/*# sourceMappingURL=style.css.map */