@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  padding: 0;
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

.container_content p, body {
  font-family: "Roboto", sans-serif;
}

.recettebloc, #recette, .fonctionnement_button .puce, .fonctionnement, #fonctionnement, .container_content, .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recettebloc_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recettebloc_love, .fonctionnement_button, .container_locate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container_locate .fa-map-marker-alt {
  position: relative;
  right: 10px;
}

.fonctionnement_button .fa-mobile-alt, .fonctionnement_button .fa-store, .fonctionnement_button .fa-list-ul {
  position: relative;
  right: 20px;
  font-size: 20px;
}

.fonctionnement_button p {
  position: relative;
  right: 0px;
}

.recettebloc, .fonctionnement_button, .btn {
  box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.25);
}

.recettebloc img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

body {
  width: 100%;
  height: 100vh;
}

.titre {
  margin-bottom: 6%;
  font-size: 1.2rem;
}
@media (min-width: 1200px) {
  .titre {
    margin-right: 3%;
  }
}

.container {
  width: 100%;
  padding-bottom: 9%;
}
.container_logo {
  background-color: white;
  padding: 2%;
}
.container_logo img {
  width: 180px;
}
.container_locate {
  background-color: #eaeaea;
  width: 100%;
  padding: 3%;
  border-top: 2px solid #353535;
}
.container_locate p {
  font-size: 0.8rem;
}
.container_content {
  background-color: #f6f6f6;
  width: 100%;
  padding: 2%;
  height: 280px;
}
.container_content h2 {
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
}
.container_content p {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  padding-bottom: 8%;
  text-align: center;
  font-weight: 400;
}

.btn {
  padding: 14px 30px;
  border: none;
  background-color: transparent;
}
.btn--primary {
  color: white;
  background: linear-gradient(to left, #9356DC, #FF79DA);
}

.corner--rounded {
  border-radius: 20px;
}

#fonctionnement {
  padding: 3%;
  width: 100%;
}
@media (min-width: 1200px) {
  #fonctionnement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.fonctionnement {
  text-align: left;
  position: relative;
  margin-bottom: 6%;
  width: 100%;
}
@media (min-width: 1200px) {
  .fonctionnement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 440px;
  }
}
.fonctionnement_button {
  background-color: #f6f6f6;
  width: 90%;
  height: 70px;
  transition: all 0.5s ease-in;
}
.fonctionnement_button:hover {
  background-color: #f5edff;
}
.fonctionnement_button:hover .fa-mobile-alt {
  color: #9356DC;
}
.fonctionnement_button:hover .fa-store {
  color: #9356DC;
}
.fonctionnement_button:hover .fa-list-ul {
  color: #9356DC;
}
.fonctionnement_button p {
  font-weight: 600;
}
.fonctionnement_button .fa-mobile-alt, .fonctionnement_button .fa-store, .fonctionnement_button .fa-list-ul {
  color: grey;
  transition: all 0.5s ease-in;
}
.fonctionnement_button .puce {
  background-color: #9356DC;
  color: #fff;
  padding: 3px 7px 3px 7px;
  border-radius: 12px;
  font-size: 13px;
  position: absolute;
  left: 3.5%;
}

#recette {
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5%;
  background-color: #eaeaea;
}
@media (min-width: 1200px) {
  #recette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  #recette .titre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
  }
}

.recettebloc {
  width: 92%;
  margin-bottom: 5%;
  position: relative;
}
@media (min-width: 1200px) {
  .recettebloc {
    margin-right: 50px;
    flex-basis: 20%;
    flex-wrap: nowrap;
  }
}
.recettebloc a {
  width: 100%;
}
.recettebloc_nouveau {
  padding: 8px 30px;
  background-color: #99E2D0;
  position: absolute;
  right: 40px;
}
@media (min-width: 1200px) {
  .recettebloc_nouveau {
    right: 8%;
    top: 15%;
  }
}
.recettebloc img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
}
.recettebloc_txt {
  height: 70px;
  align-self: flex-start;
  padding-left: 6%;
}
.recettebloc_txt h3 {
  position: relative;
}
.recettebloc_txt p {
  position: relative;
}
.recettebloc_love {
  font-size: 20px;
  position: absolute;
  right: 15%;
  color: #9356DC;
}
.recettebloc_love .coeur-vide {
  position: relative;
  left: 20px;
  z-index: 999;
  transition: all 1s ease;
}
.recettebloc_love .coeur-vide:hover + .coeur-plein {
  opacity: 1;
}
.recettebloc_love .coeur-plein {
  opacity: 0;
  transition: all 1s ease;
}

#footer {
  background-color: #353535;
  padding: 6%;
}
#footer .logo {
  fill: white;
}
#footer .liens a {
  color: white;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */