@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  padding: 0;
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

body, .container_content p, .menu_container .menu_titre h2 {
  font-family: 'Roboto', sans-serif;
}

.menu_container .menu_titre h2 {
  font-family: 'Shrikhand', cursive;
}

.container_locate .fa-map-marker-alt {
  position: relative;
  right: 10px;
}

.fonctionnement_button .fa-mobile-alt, .fonctionnement_button .fa-store, .fonctionnement_button .fa-list-ul {
  position: relative;
  right: 20px;
  font-size: 20px;
}

.fonctionnement_button p {
  position: relative;
  right: 0px;
}

.btn, .fonctionnement_button, .restaurantbloc, .menu_container .menu_entrees_bloc {
  -webkit-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.64);
}

.restaurantbloc img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

body {
  width: 100%;
  height: 100vh;
}

.fade-in {
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}

.container_loader {
  width: 100%;
  height: 100vh;
  background-color: #9356DC;
  margin: 0 auto;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}

.container_loader .loader {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#header {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.titre {
  margin-bottom: 6%;
  font-size: 1.2rem;
}

@media (min-width: 1200px) {
  .titre {
    margin-right: 3%;
  }
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 9%;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
    padding-bottom: 4%;
  }
}

.container_logo {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 2%;
}

.container_logo img {
  width: 180px;
}

.container_locate {
  background-color: #eaeaea;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 3%;
  border-top: 2px solid #353535;
}

.container_locate p {
  font-size: 0.8rem;
}

.container_content {
  background-color: #f6f6f6;
  width: 100%;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 280px;
}

@media (min-width: 1200px) {
  .container_content {
    padding: 4%;
  }
}

.container_content h2 {
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
}

.container_content p {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  padding-bottom: 8%;
  text-align: center;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .container_content p {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1%;
    padding-bottom: 2%;
  }
}

.btn {
  padding: 15px 30px;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 1rem;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.btn--primary {
  color: white;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
}

.corner--rounded {
  border-radius: 20px;
}

#fonctionnement {
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media (min-width: 1200px) {
  #fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 2%;
  }
}

.fonctionnement {
  text-align: left;
  position: relative;
  margin-bottom: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media (min-width: 1200px) {
  .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 440px;
  }
}

.fonctionnement_button {
  background-color: #f6f6f6;
  width: 90%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.fonctionnement_button:hover {
  background-color: #f5edff;
}

.fonctionnement_button:hover .fa-mobile-alt {
  color: #9356DC;
}

.fonctionnement_button:hover .fa-store {
  color: #9356DC;
}

.fonctionnement_button:hover .fa-list-ul {
  color: #9356DC;
}

.fonctionnement_button p {
  font-weight: 600;
}

.fonctionnement_button .fa-mobile-alt, .fonctionnement_button .fa-store, .fonctionnement_button .fa-list-ul {
  color: grey;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.fonctionnement_button .puce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #9356DC;
  color: #fff;
  padding: 3px 7px 3px 7px;
  border-radius: 12px;
  font-size: 13px;
  position: absolute;
  left: 3.5%;
}

#restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5%;
  background-color: #eaeaea;
  font-weight: 400;
}

@media (min-width: 1200px) {
  #restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2%;
  }
}

@media (min-width: 1200px) {
  #restaurant .titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 2%;
  }
}

.restaurantbloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 92%;
  margin-bottom: 5%;
  position: relative;
}

@media (min-width: 1200px) {
  .restaurantbloc {
    margin-right: 50px;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.restaurantbloc a {
  width: 100%;
}

.restaurantbloc_nouveau {
  padding: 8px 30px;
  background-color: #99E2D0;
  position: absolute;
  right: 40px;
}

@media (min-width: 1200px) {
  .restaurantbloc_nouveau {
    right: 8%;
    top: 15%;
  }
}

.restaurantbloc img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
}

.restaurantbloc_txt {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 6%;
}

.restaurantbloc_txt h3 {
  position: relative;
}

.restaurantbloc_txt p {
  position: relative;
}

.restaurantbloc_love {
  font-size: 20px;
  position: absolute;
  right: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.restaurantbloc_love .coeur-vide {
  position: relative;
  left: 20px;
  z-index: 999;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  color: black;
}

.restaurantbloc_love .coeur-vide:hover + .coeur-plein {
  opacity: 1;
}

.restaurantbloc_love .coeur-vide:hover {
  opacity: 0;
}

.restaurantbloc_love .coeur-plein {
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#footer {
  background-color: #353535;
  padding: 6%;
}

@media (min-width: 1200px) {
  #footer {
    padding: 2%;
    text-align: center;
  }
}

#footer .logo svg {
  fill: white;
  width: 150px;
}

#footer .liens {
  position: relative;
}

#footer .liens li {
  color: white;
  margin-bottom: 10px;
  font-weight: 400;
}

@-webkit-keyframes hidethis {
  to {
    visibility: hidden;
  }
}

@keyframes hidethis {
  to {
    visibility: hidden;
  }
}

#hidethis {
  -webkit-animation: hidethis 0s 3s forwards;
          animation: hidethis 0s 3s forwards;
}

.container_logo--menu {
  background-color: white;
  padding: 1%;
  width: 100%;
  position: relative;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container_logo--menu .arrow {
  position: relative;
  right: 50px;
}

.container_logo--menu img {
  width: 180px;
}

#menu-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: #f6f6f6;
}

#menu-4 .background-image {
  background-image: url("/images/restaurants/menu4.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
}

#menu-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: #f6f6f6;
}

#menu-3 .background-image {
  background-image: url("/images/restaurants/menu3.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
}

#menu-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: #f6f6f6;
}

#menu-2 .background-image {
  background-image: url("/images/restaurants/menu2.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
}

#menu-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: #f6f6f6;
}

#menu-1 .background-image {
  background-image: url("/images/restaurants/menu1.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
}

.menu_container {
  width: 100%;
  position: relative;
  top: -50px;
  padding: 2%;
  border-radius: 45px;
  background-color: #f6f6f6;
}

.menu_container .menu_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (min-width: 1200px) {
  .menu_container {
    width: 80%;
    -webkit-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.25);
  }
}

.menu_container .menu_titre {
  padding: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

@media (min-width: 1200px) {
  .menu_container .menu_titre {
    padding: 2%;
  }
}

.menu_container .menu_titre h2 {
  position: relative;
  right: 40px;
  font-size: 1.6rem;
}

@media (min-width: 1200px) {
  .menu_container .menu_titre h2 {
    font-size: 2rem;
  }
}

.menu_container .menu_titre .restaurantbloc_love {
  position: relative;
  left: 0;
}

.menu_container .menu_entrees {
  position: relative;
  padding: 5%;
  top: -40px;
}

@media (min-width: 1200px) {
  .menu_container .menu_entrees {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2%;
  }
}

.menu_container .menu_entrees_titre {
  font-weight: 300;
  padding-bottom: 10%;
}

@media (min-width: 1200px) {
  .menu_container .menu_entrees_titre {
    padding-bottom: 2%;
  }
}

.menu_container .menu_entrees_titre::after {
  content: "";
  width: 50px;
  height: 7px;
  border-bottom: 4px solid #99E2D0;
  position: absolute;
}

@media (min-width: 1200px) {
  .menu_container .menu_entrees_titre {
    padding: 2%;
  }
}

.menu_container .menu_entrees_bloc {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 25px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 3%;
  height: 80px;
  padding: 2%;
  position: relative;
}

.menu_container .menu_entrees_bloc_anime {
  color: white;
  font-size: 1.5rem;
  width: 20%;
  height: 100%;
  top: 0;
  position: absolute;
  right: 0px;
  display: block;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 99;
}

@media (min-width: 1200px) {
  .menu_container .menu_entrees_bloc_anime {
    height: 100% !important;
  }
}

@media (min-width: 1800px) {
  .menu_container .menu_entrees_bloc_anime {
    height: 159px !important;
  }
}

.menu_container .menu_entrees_bloc_anime:hover + .menu_entrees_bloc_prix {
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
  width: 140px;
  padding-left: 10%;
}

@media (min-width: 600px) {
  .menu_container .menu_entrees_bloc_anime:hover + .menu_entrees_bloc_prix {
    -webkit-transform: translate(-120px);
            transform: translate(-120px);
  }
}

.menu_container .menu_entrees_bloc_anime:hover .icon-check {
  -webkit-animation: rotate 0.7s ease-in;
          animation: rotate 0.7s ease-in;
}

.menu_container .menu_entrees_bloc_anime:hover {
  opacity: 1;
}

@media (min-width: 1200px) {
  .menu_container .menu_entrees_bloc_anime {
    width: 100px;
    height: 123px;
  }
}

.menu_container .menu_entrees_bloc_prix {
  position: relative;
  top: 0px;
  width: 100px;
  height: 100px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: all 1.6s ease-in;
  transition: all 1.6s ease-in;
}

.menu_container .menu_entrees_bloc_prix:hover + .menu_entrees_bloc_anime {
  opacity: 1;
}

.menu_container .menu_entrees_bloc_texte {
  padding: 4%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.menu_container .menu_entrees_bloc_texte p, .menu_container .menu_entrees_bloc_texte h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animationdelay-1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.animationdelay-2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animationdelay-3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.animationdelay-4 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.animationdelay-5 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.animationdelay-6 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.animationdelay-7 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.animationdelay-8 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.animationdelay-9 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}
/*# sourceMappingURL=style.css.map */