@import "libs/reset.scss";
@import"variables.scss";
@import"mixins.scss";
@import"placeholder.scss";
@import"functions.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body{
    @extend %fonts;
    width:100%;
    height:100vh;
}

// Loader
.container_loader{
    width:100%;
    height:100vh;
    background-color: $primary-color;
    margin: 0 auto;
    opacity:1;
    position: fixed;
    top:0;
    left:0;
    z-index:9999;
    @include flexbox(column,center,center,nowrap);
    overflow: hidden;

    .loader{
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;

          @keyframes lds-ring {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
          
    }

    
}

#header{
    width:100%;
    margin:0 auto;
    overflow: hidden;
}
// Titres qui se trouvent sur la page
.titre{
    margin-bottom: 6%;
    font-size: 1.2rem;

    @include for-size(desktop) { 
   margin-right:3%;
     }
}

// Début du site
.container{
    width:100%;
    @include flexbox(column,center,center,nowrap);
    padding-bottom:9%;
    overflow: hidden;




    @include for-size(desktop) { 
        padding:0;
        padding-bottom:4%;

     }


    &_logo{
        background-color:white;
        @include flexbox(row,center,center,nowrap);
        padding: 2%;

        img{
            width:180px;
        }
    }

    &_locate{
        background-color: $fond-locate;
        width:100%;
        @include flexbox(row,center,center,nowrap);
        padding:3%;
        border-top: 2px solid $fond-footer;

        p{
            font-size: 0.8rem;
        }
        .fa-map-marker-alt{
            @extend %icon-placement;          
        }

    }

    &_content{
        background-color: $fond;
        width:100%;
        padding:2%;
        @include flexbox(column,center,center,nowrap);
        height:280px;

        @include for-size(desktop) { 
            padding:4%;    
         }

        h2{
            padding-left:8%;
            padding-right:8%;
            text-align: center;
        }
        p{
            padding-left:8%;
            padding-right:8%;
            padding-top:3%;
            padding-bottom: 8%;
            text-align: center;
            @extend %fonts;
            font-weight: 400;

            @include for-size(desktop) { 
                padding-left:0;
                padding-right:0;
                padding-top:1%;
                padding-bottom: 2%; 
             }
        }
    }
}

//Bouton
.btn{
    padding: 15px 30px;
    border:none;
    background-color: transparent;
    @extend %shadow-box;
    font-weight: 500;
    font-size: 1rem;

    &--primary{
        color:white;
        background: linear-gradient(to top, $primary-color, $secondary-color);
    }
}

.corner--rounded {
    border-radius: 20px;
}

// Partie fonctionnement
#fonctionnement {
    padding:3%;
    @include flexbox(column,center,center,wrap);
    width:100%;

    @include for-size(desktop) { 
        @include flexbox(row,center,center,nowrap);
        padding:2%;
     }

    }

.fonctionnement{
    text-align: left;
    position: relative;
    margin-bottom: 6%;
    @include flexbox(column,center,center,wrap);
    width:100%;

    @include for-size(desktop) { 
        @include flexbox(row,center,center,nowrap);
        width:440px;
     }

    &_button{
        background-color: $fond;
        width:90%;
        height:70px;
        @include flexbox(row,center,center,nowrap);
        @extend %shadow-box;
        transition: all 0.5s ease-in;

        &:hover{
            background-color: $hover-color-btn;
        }

        &:hover .fa-mobile-alt{
            color: $primary-color;
        }

        &:hover .fa-store{
            color: $primary-color;
        }

        &:hover .fa-list-ul{
            color: $primary-color;
        }

        p{
            @extend %text-placement-fonctionnement;
            font-weight: 600;
        }

        .fa-mobile-alt, .fa-store, .fa-list-ul{
            @extend %icon-placement-fonctionnement;   
            color:grey;
            transition: all 0.5s ease-in;


        }

         .puce{
            @include flexbox(column,center,center,nowrap);
            background-color: $primary-color;
            color: #fff;
            padding: 3px 7px 3px 7px;
            border-radius: 12px;
            font-size: 13px;
            position: absolute;
            left:3.5%;
        
        }

    }
}

// Restaurants
#restaurant{
    @include flexbox(column,center,center,nowrap);
    width:100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding:5%;
    background-color: $fond-locate;
    font-weight: 400;

    @include for-size(desktop) { 
        @include flexbox(row,center,center,wrap);
        padding:2%;
     
     }

     .titre{
        @include for-size(desktop) { 
            @include flexbox(column,center,center,wrap);
            flex-basis:100%;
            margin-bottom:2%;
         }
     }

}

.restaurantbloc{
    @include flexbox(column,center,center,wrap);
    width:92%;
    @extend %shadow-box;
    margin-bottom:5%;
    position:relative;

    @include for-size(desktop) { 
        margin-right: 50px;
        flex-basis:20%;
        flex-wrap: nowrap;
    }

    a{
        width:100%;
    }

    &_nouveau{
        padding:8px 30px;
        background-color:$teriary-color;
        position:absolute;
        right: 40px;

        @include for-size(desktop) { 
            right: 8%;
            top: 15%;
        }
    }
    

    img{
        object-fit: cover;
        width:100%;
        height:200px;
        @extend %corner-top--rounded;
    } 


    &_txt{
        height: 70px;
        @include flexbox(column,center,center,wrap);
        align-self: flex-start;
        padding-left: 6%;

        h3{
            position: relative;
        }

        p{
            position: relative;
        }
    }

    &_love{
        font-size: 20px;
        position: absolute;
        right:15%;
        @include flexbox(row,center,center,wrap);

        .coeur-vide{
            position: relative;
            left:20px;
            z-index:999;
            transition: all 0.5s ease;
            opacity:1;
            color: black;


            &:hover + .coeur-plein{
                opacity:1;
            }

            &:hover{
                opacity:0;            
            }
    
        }
        
        .coeur-plein{
            opacity: 0;
            transition: all 1s ease;
        }

    }
}

#footer{
    background-color: $fond-footer;
    padding:6%;

    @include for-size(desktop) { 
        padding:2%;
        text-align: center;
    }

    .logo svg{
        fill:white;
        width:150px;
    }

    .liens{
        position: relative;

        li {
                color:white;
                margin-bottom:10px;
                font-weight: 400;
        }
    }


}

// Animation HideThis pour le Loader après 3s
@keyframes hidethis  { 
    to { 
        visibility: hidden; 
    } 
}
#hidethis { 
    animation: hidethis 0s 3s forwards; 
}

//menu-3.html

.container_logo--menu{
        background-color: white;
        padding: 1%;
        width:100%;
        position:relative;
        top:20px;
        @include flexbox (row, center,center,nowrap);

         .arrow{
             position:relative;
             right:100px;
         }
         img{
             width:180px;
         }
}

#menu-3{
    @include flexbox(column,center,center,wrap);
    width:100%;
    background-color: $fond;

    .background-image{
        @include backgroundmenu(menu3);
    }

    .menu_container{
        width: 100%;
        position: relative;
        top:-50px;
        @include corner-rounded-menu(45px);
        background-color: $fond;

        .menu_titre{
            padding:10%;
            width: 100%;
            @include flexbox(row,center,center,nowrap);
            position:relative;
        
            h2{
                position: relative;
                @extend %fonts;
                right:130px;
                @extend %titre;
                font-size: 2rem;
            }
        
            .restaurantbloc_love{
                position: relative;
                left:0;
            }
        }

        .menu_entrees{
            position: relative;
            padding:5%;
            top:-40px;
            &_titre{
                font-weight: 300;
                padding-bottom: 10%;
                &::after{
                    content:"";
                    width:50px;
                    height:7px;
                    border-bottom: 4px solid $teriary-color;
                    position: absolute;
                }
            }

            &_bloc{
                background-color:white;
                @include flexbox(row,flex-start,center,nowrap);
                @include corner-rounded-menu(25px);
                flex-basis: 100%;
                height:80px;
                padding:2%;
                position:relative;
                @extend %shadow-box;

                &_anime{
                    color:white;
                    font-size:1.5rem;
                    width:70px;
                    height:97px;
                    position: relative;
                    left:10px;
                    background-color: $teriary-color;
                    @include corner-rounded-top-menu(15px);
                    @include flexbox(column,center,center,nowrap);
                    opacity:0;

                    .icon-check:hover{
                        animation: rotate ease-in 1s ;
                    }
                    &:hover{
                        opacity:1;
                    } 
                }
                
                &_prix{
                    position:relative;
                    top:0px;
                    left:80px;
                    width:100px;
                    height:100px;
                    display:block;
                    margin: 0 auto;
                    @include flexbox(column,center,center,nowrap);

                        &:hover + .menu_entrees_bloc_anime{
                        opacity:1;
                    }
                }
                &_texte{
                    @include flexbox(column,flex-start,flex-start,nowrap);
                    padding:4%;
                }
            }
        }
    }

    
}


@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}